pandas
numpy
matplotlib
seaborn
plotly
statsmodels
statsforecast
scikit-learn
xgboost
prophet
openpyxl
tabulate
great_tables
requests
kagglehub
thefuzz
streamlit
fpdf2
cuml
cupy
google-genai
kaleido
coverage>=7.4
pytest-cov>=4.1
pytorch-lightning
torch
u8darts[torch]