pandas
numpy
matplotlib
seaborn
plotly
statsmodels
statsforecast
scikit-learn
xgboost
prophet
openpyxl
tabulate
great_tables
streamlit
geopandas
folium>=0.12
streamlit-folium
mapclassify
shapely
pyogrio
fiona
